version: '2'
services:
  solr:
    build: solr
    ports:
      - "1044:1044"  # Debugging port
      - "8983:8983"  # Solr admin interface
    volumes:
      - ./solr/core:/opt/core-config
      - index-data:/var/solr/data
      - ./data:/data
    environment:
      - ENABLE_REMOTE_JMX_OPTS=true
      - SOLR_HEAP=4g
      - SOLR_ADDL_ARGS="-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=1044"
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - ocr
      - /opt/core-config

  iiif-prezi:
    command: pipenv run prod
    build: iiif-prezi
    volumes:
      - ./data:/data
    environment:
      - CFG_SOLR_BASE=http://solr:8983/solr
      - CFG_SERVER_NAME=localhost:8181
      - CFG_IMAGE_API_BASE=https://ocrhl.jbaiter.de/iiif/image/v2
      - CFG_GOOGLE1000_PATH=/data/google1000
      - CFG_BNL_PATH=/data/bnl_lunion
      - CFG_APP_PATH=/iiif/presentation

  frontend:
    build: frontend
    ports:
      - "8181:80"

volumes:
  index-data:
