include: "https://raw.githubusercontent.com/dbmdz/development/master/ci/.gitlab-ci-base.yml"

variables:
  TARGET: x86_64-unknown-linux-musl

cache:
  key: "$CI_COMMIT_SHA"
  paths:
    - target/
    - offsets-parser/target/$TARGET

stages:
  - build
  - test
  - publish
  - release

publish_docs:
  stage: publish
  before_script:
    - git remote rm origin
    - git remote add origin "https://stefan-it:$GITHUB_TOKEN@github.com/$CI_PROJECT_PATH.git"
    - pip3 install mkdocs
  script:
    - mkdocs gh-deploy --force
  only:
    refs:
      - master

linux_binary:
  image: "ekidd/rust-musl-builder"
  stage: build
  script:
    - cd offsets-parser
    - cargo build --release --target $TARGET

github_release:
  extends: .release
  only:
    - tags
  script:
    - if [[ "$CI_COMMIT_TAG" =~ .*RC.* ]]; then exit 0; fi
    - sudo apt update
    - sudo apt install -y zip
    - zip -j offsets-parser-${CI_COMMIT_TAG}-${TARGET}.zip offsets-parser/target/$TARGET/release/offsets-parser
    - hub release edit -m $CI_COMMIT_TAG -a target/solr-ocrhighlighting-${CI_COMMIT_TAG}.jar -a offsets-parser-${CI_COMMIT_TAG}-${TARGET}.zip -t $CI_COMMIT_SHA $CI_COMMIT_TAG