on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: corretto
          java-version: 11
          cache: maven
      - name: Build with Maven and run unit tests
        run: mvn -B package
      - name: Create Solr 7/8 JAR
        run: ./util/patch_solr78_bytecode.py
      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: target/*.jar

  integration_tests:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: build-artifacts
          path: ./target
      - name: Change permissions on build artifacts
        run: chmod -R a+rw ./target
      - name: Run integration tests
        run: ./integration-tests/run.sh
